/* ===========================
   Google Font
=========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8f9fa;
    color:#212529;
    overflow-x:hidden;
}

/* ===========================
   Navbar
=========================== */



.navbar-brand{
    font-size:28px;
    color:#ff8bf5 !important;
}

.nav-link{
    color:#f6ff7f !important;
    margin-left:20px;
    transition:.3s;
    font-weight:500;
}

.nav-link:hover{
    color:#ffc107 !important;
     box-shadow:0 50px 40px rgba(255, 253, 123, 0.5);
}

.navbar{
    background:#395cf5;
    padding:15px 0;
    transition:.3s;
}

.navbar-nav .nav-link{
    color:#0c0c0c;
    margin-left:25px;
    font-weight:500;
}

.navbar-nav .nav-link:hover{
    color:#f876d1;
}

.navbar-brand{
    font-size:28px;
    font-weight:700;
}

.btn-primary{
    border-radius:50px;
    padding:10px 25px;
}

/* ===========================
   Hero
=========================== */

.hero{
    min-height:100vh;
    background:linear-gradient(135deg,#e25c96,#f5c6dc);
    color:#fff;
    display:flex;
    align-items:center;
    padding-top:100px;
}

.hero h1{
    font-size:60px;
    font-weight:700;
}

.hero h3{
    color:#ffc107;
    margin:20px 0;
}

.hero p{
    font-size:18px;
    line-height:1.8;
}

.hero-img{
    width:360px;
    border-radius:50%;
    border:8px solid white;
    box-shadow:0 15px 40px rgba(0,0,0,.3);
    transition:.5s;
}

.hero-img:hover{
    transform:scale(1.05);
}

/* ===========================
   Button
=========================== */

.btn{
    border-radius:30px;
    padding:12px 30px;
    transition:.3s;
}

.btn-primary:hover{
    transform:translateY(-3px);
}

.btn-outline-light:hover{
    color:#fd0dad;
}

/* ===========================
   Section
=========================== */

section{
    padding:100px 0;
}

section h2{
    font-size:42px;
    font-weight:700;
    margin-bottom:15px;
    color:#ffffff;
}

section p{
    line-height:1.8;
}

/* ===========================
   About
=========================== */

#about{

    background:linear-gradient(135deg,#dd6d9e,#f5c6dc);
    color:#000000;

}


.about-photo{

    position:relative;
    display:inline-block;
    

}

.about-photo{
    width:400px;
    height:500px;
    overflow:hidden;
}

.about-photo img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:opacity .5s ease;
}

.about-photo::before{
    z-index: 3;
}


.about-photo img{

    position:relative;

    z-index:2;

    width:100%;

    border-radius:10px;

    box-shadow:0 20px 40px rgba(0,0,0,.35);
      transition: opacity .5s ease;
}


.about-subtitle{

    color:#e9ff6c;

    font-weight:700;

    letter-spacing:2px;

}

.about-text{

    margin:25px 0;

    line-height:1.9;

    color:#000000;

}

#about strong{

    color:rgb(0, 0, 0);

}

#about .btn{

    border-radius:50px;

    padding:12px 35px;

}

/* ===========================
   Skills
=========================== */
#skills{
     background:linear-gradient(135deg,#e66a9f,#f5c6dc);
    padding:100px 0;
    padding-bottom:125px;
}

.skill-title{

    color:black;

    font-size:30px;

    font-weight:700;

    border-left:5px solid #05366e;

    padding-left:15px;

    margin-bottom:30px;

}

.skill-title i{

    color:#05182e;
    margin-right:8px;

}
.skill-card{

    display:flex;
    align-items:center;
    gap:20px;

    background:rgb(255, 255, 255);
    border-radius:20px;
    padding:20px;

    transition:.4s;

    height:100%;

}

.skill-card:hover{

    transform:translateY(-8px);
    box-shadow:0 10px 30px rgba(240, 2, 121, 0.2);

}

.skill-logo{

    width:70px;
    height:70px;
    object-fit:contain;

}

.skill-content{

    flex:1;

}

.skill-content h5{

    margin-bottom:12px;
    font-weight:bold;

}

.progress{

    height:12px;
    border-radius:20px;
    background:#d9d9d9;

}

.progress-bar{

    border-radius:20px;

}

.skill-percent{

    min-width:45px;
    font-weight:700;
    color:#333;

}

/* ===========================
   Project
=========================== */

#projects{
     background:linear-gradient(135deg,#fa7cb2,#f5c6dc);
    padding:100px 0;
    padding-bottom:125px;
}

.card{
    border:none;
    border-radius:20px;
    overflow:hidden;
    transition:.4s;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    height:220px;
    object-fit:cover;
}

.card-body{
    padding:29px;
    
}

.card-title{
    font-weight:700;
}

.card .btn{
    width:100%;
}

/* ===========================
   BLOG
=========================== */

#Blog{
     background:linear-gradient(135deg,#e25c96,#f5c6dc);
    padding:100px 0;
}

#Blog h2{
    color:rgb(245, 237, 237);
    font-weight:700;
}

#Blog p{
    color:#000000;
}

.blog-card{

    background:#0E2747;
    border-radius:20px;
    padding:30px;
    transition:.4s;
    height:100%;
    border:1px solid rgba(255,255,255,.08);
    box-shadow:0 10px 30px rgba(0,0,0,.25);

}

.blog-card:hover{

    transform:translateY(-10px);
    box-shadow:0 15px 40px rgba(0,0,0,.4);

}

.blog-card h4{

    color:white;
    font-size:24px;
    font-weight:600;
    margin-bottom:15px;

}

.blog-card p{

    color:#d6d6d6;
    line-height:1.8;

}

.blog-card .date{

    color:#4DA3FF;
    font-size:14px;
    font-weight:600;
    margin-bottom:15px;

}

.blog-card .btn{

    margin-top:20px;
    border-radius:30px;
    padding:10px 25px;

}

.blog-card .btn:hover{

    transform:translateY(-3px);

}

.blog-icon{

    width:70px;
    height:70px;
    background:#1E88FF;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    font-size:32px;
    margin-bottom:20px;

}

.blog-all{

    margin-top:60px;

}

.blog-all .btn{

    border-radius:50px;
    padding:12px 35px;
}
/* ===========================
   Contact
=========================== */

#contact{
      background:linear-gradient(135deg,#e66a9f,#f5c6dc);
}

#contact a{
    transition:.3s;
}

#contact a:hover{
    transform:scale(1.2);
}
/*=============================
 SOCIAL ICON
==============================*/

.social-icons{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin-top:40px;
    flex-wrap:wrap;

}

.social-card{

    width:70px;
    height:70px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#f5ff67;

    border:2px solid #041e3b;

    border-radius:18px;

    color:rgb(0, 0, 0);

    text-decoration:none;

    font-size:32px;

    transition:.4s;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

}

.social-card:hover{

    background:#8e943d;

    color:white;

    transform:translateY(-10px);

    box-shadow:0 60px 40px rgba(1, 23, 49, 0.5);

}

.social-card i{

    transition:.4s;

}

.social-card:hover i{

    transform:scale(1.25);

}
/* ===========================
   Footer
=========================== */

footer{
    background:#0d6efd;
    color:white;
    padding:25px 0;
}

/* ===========================
   Scrollbar
=========================== */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#0a3bc4;
}

::-webkit-scrollbar-thumb{
    background:#edf03c;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#4069a7;
}




/*darkmode*/

.dark-mode{
    background:#0b1120;
    color:#fff;
}

/* ===========================
   Navbar
=========================== */

/* Navbar */

.dark-mode .navbar{
    background:#111827 !important;
}


.dark-mode .nav-link{
    color:#98b5f1 !important;
    margin-left:25px;
    transition:.3s;
    font-weight:500;
}

.dark-mode .nav-link:hover{
    color:#0e44a8 !important;
     box-shadow:0 50px 40px rgba(74, 130, 235, 0.5);
}
.dark-mode .navbar-brand{
    font-size:28px;
    color:#8ba0ff !important;
}

/* Semua Section */
.dark-mode .hero h3{
    color:#8c7bc7;
    margin:20px 0;
}
.dark-mode .hero,
.dark-mode #about,
.dark-mode #skills,
.dark-mode #projects,
.dark-mode #Blog,
.dark-mode #contact{

    background:linear-gradient(135deg,#1e3a7a,#1e293b);

    color:white;

}

/* Semua Judul */

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6{

    color:#ffffff;

}

/* Semua Paragraf */

.dark-mode p,
.dark-mode span,
.dark-mode li{

    color:#d1d5db;

}

 


/* Card Project */

.dark-mode .card{

    background:#1e293b;

    color:white;

}

/* Skill Card */

.dark-mode .skill-card{

    background:#1f2937;

    color:white;

}

/* Blog Card */

.dark-mode #Blog p{
    color:#d1d5db;
}

.dark-mode .blog-card{

    background:#1f2937;

    color:white;

}

/* Progress */

.dark-mode .progress{

    background:#374151;

}

.dark-mode .progress-bar{

    background:#042ea1 !important;

}

/* Social */

.dark-mode .social-card{

    background:#1e293b;

    border:2px solid #2507d3;

    color:white;

}

.dark-mode .social-card:hover{

    background:#06075f;

    color:white;
      transform:translateY(-10px);

    box-shadow:0 60px 40px rgba(132, 178, 235, 0.5);


}

/* Button */

.dark-mode .btn-primary{

    background:#0d35a3;

    border:none;

}

.dark-mode .btn-primary:hover{

    background:#0b1168;

}

/* Footer */

.dark-mode footer{

    background:#111827;

}

/* Judul Skill */

.dark-mode .skill-title{

    color:white;

    border-left:5px solid #7b82e0;

}

.dark-mode .skill-title i{

    color:#7b82e0;

}

/* About */

.dark-mode .about-subtitle{

    color:#564ce9;

}

.dark-mode .about-text{

    color:#d1d5db;

}

.dark-mode #about strong{

    color:white;

}

/* Scrollbar */

.dark-mode ::-webkit-scrollbar-thumb{

    background:#ec4899;

}

/* =======================================
   RESPONSIVE MOBILE
======================================= */
@media (max-width: 768x){

    /* Navbar */
    .navbar{
        padding:12px 0;
    }

    .navbar-brand{
        font-size:2rem;
    }

    .navbar-collapse{
        background:#2563eb;
        margin-top:15px;
        border-radius:15px;
        padding:20px;
        text-align:center;
    }
    .navbar .container,
.hero .container{
    max-width:1320px;
    width:100%;
}

    .nav-link{
        margin:12px 0 !important;
        font-size:18px;
    }

    #darkModeToggle{
        margin-top:15px;
        width:100%;
    }

    /* Hero */
    .hero{
        text-align:center;
        padding-top:130px;
        min-height:auto;
    }

    .hero .row{
        flex-direction:column-reverse;
    }

    .hero h4{
        font-size:30px;
    }

    .hero h1{
        font-size:3.2rem;
        line-height:1.15;
    }

    .hero h3{
        font-size:1.7rem;
        min-height:45px;
    }

    .hero p{
        font-size:18px;
        line-height:1.8;
    }

    .hero-img{
        width:250px;
        margin-bottom:35px;
    }

    .hero .btn{
        width:180px;
        margin:auto;
    }

    /* About */
    #about{
        text-align:center;
    }

    .about-photo{
        width:260px;
        height:330px;
        margin:0 auto 30px;
    }

    .about-text{
        text-align:justify;
    }

    /* Skills */
    .skill-card{
        flex-direction:column;
        text-align:center;
        padding:20px 15px;
    }

    .skill-logo{
        width:55px;
        height:55px;
    }

    /* Project */
    .card{
        margin-bottom:25px;
    }

    .card img{
        height:190px;
    }

    /* Contact */
    .social-icons{
        gap:15px;
    }

    .social-card{
        width:60px;
        height:60px;
        font-size:28px;
    }

    /* Semua judul */
    section h2{
        font-size:34px;
    }
    .skill-card{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.progress{
    width:100%;
    margin-top:10px;
}

.skill-percent{
    margin-top:10px;
    text-align:center;
}

}